@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Orbitron", "Neuropol X Cond Bold", monospace;
  --font-mono: "Orbitron", "Neuropol X Cond Bold", monospace;

  /* PRIMARY PURPLE Palette */
  --color-primary-purple-700: #000000;
  --color-primary-purple-600: #401b4f;
  --color-primary-purple-500: #773292;
  --color-primary-purple-400: #b370ce;
  --color-primary-purple-300: #ddbee9;

  /* PRIMARY LIGHT BLUE Palette */
  --color-primary-light-blue-700: #0c2232;
  --color-primary-light-blue-600: #205d88;
  --color-primary-light-blue-500: #489ad4;
  --color-primary-light-blue-400: #98c6e7;
  --color-primary-light-blue-300: #eef6fb;

  /* SECONDARY PINK Palette */
  --color-secondary-pink-700: #3d001e;
  --color-secondary-pink-600: #a80054;
  --color-secondary-pink-500: #ff007f;
  --color-secondary-pink-400: #ff80bf;
  --color-secondary-pink-300: #ffebf5;

  /* SECONDARY PURPLE Palette */
  --color-secondary-purple-700: #22043a;
  --color-secondary-purple-600: #5d0a9f;
  --color-secondary-purple-500: #9a29f2;
  --color-secondary-purple-400: #c687f8;
  --color-secondary-purple-300: #f6ecfe;

  /* SECONDARY LIGHT BLUE Palette */
  --color-secondary-light-blue-700: #053837;
  --color-secondary-light-blue-600: #0f9a96;
  --color-secondary-light-blue-500: #4deeea;
  --color-secondary-light-blue-400: #8bf4f1;
  --color-secondary-light-blue-300: #ecfdfd;

  /* Unlabeled Green/Yellow Palette */
  --color-accent-green-700: #2c330a;
  --color-accent-green-600: #798c1d;
  --color-accent-green-500: #bad531;
  --color-accent-green-400: #dce995;
  --color-accent-green-300: #f9fcee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Orbitron", "Neuropol X Cond Bold", monospace;
  font-weight: 700;
}

/* Custom brand gradient */
.custom-brand-gradient {
  background: linear-gradient(
    to bottom right,
    var(--color-primary-purple-600),
    var(--color-primary-purple-500),
    var(--color-primary-light-blue-500),
    var(--color-accent-green-500)
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.custom-brand-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/assets/pattern.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1;
  pointer-events: none;
  z-index: 1;
}

.custom-brand-gradient > * {
  position: relative;
  z-index: 2;
}

/* Custom animation delays */
.animation-delay-150 {
  animation-delay: 150ms;
}
